@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #172554;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: #ffffff;
}
::-webkit-scrollbar-track{
  border: 5px solid #ffffff;
}
::-webkit-scrollbar-thumb{
  background: #2563eb;
  border-radius: 15px;
}

#terms p{
  margin-bottom: 0.25rem;
}

#terms span{
  font-weight: bold;
}